* {
  padding: 0;
  margin: 0;
}

:root {
	--light-green: #28965A;
	--dark-green: #2A6041;
}

/* this is for the nav bar */
#navbar {
  overflow: hidden;
  width: 100%;
  background-color: var(--light-green);
  position: fixed;
  top: 0px;
  padding-left: 60px;
}
#navbar a {
  text-decoration: none;
  color: white;
  padding: 12px 16px;
  display: block;
  text-align: center;
  float: left;
}
#navbar a:hover {
  background-color: var(--dark-green);
}
@media only screen and (max-width: 600px) {
  #navbar {
    padding-left: 0;
  }
  #navbar a {
    float: none;
    padding: 8px;
    font-size: 12px;
  }
}

/* this is for the welcome screen */
#welcome-section {
  height: 100vh;
}
#welcome-section h1 {
  margin: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 100vh; 
  font-family: 'Volkhov', serif;
  font-weight: bold;
  font-size: 6vw;
}

/* this is for the project area */

#projects {
  border-top: 14px solid var(--light-green);
}
#projects h4 {
  font-size: 36px;
  text-align: center;
  margin-top: 84px;
}
#projects h5 {
  font-size: 22px;
  text-align: center;
  margin: 42px;
  font-family: Arial, Helvetica;
}
#projects a {
  font-size: 22px;
  color: var(--light-green);
  text-decoration: none;
}
#projects a:hover {
  color: var(--dark-green);
}
        /* for the flexbox in the project area */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
}
.child {
  background-color: #EDEBA0;
  /*padding: 16px 12px;*/
  margin: 8px 14px;
  border: 2px solid var(--dark-green);
  border-radius: 10px;
  width: 300px;
  height: 60px;
  text-align: center;
}
.child:hover {
  background-color: #FEFDCD;
}
.child a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 2.7;
}

/* this is for the footer */

footer {
  background-color: var(--light-green);
  color: white;
  padding: 24px 60px;
  margin-top: 64px;
  font-size: 16px;
}