* {
	margin: 0;
	padding: 0;
}

#title {
	text-align: center;
	font-size: 3.4em;
	margin-top: 24px;
	margin-bottom: 16px;
}

#img-div {
	background-color: #bbb;
	padding-bottom: 6px;
	padding-top: 16px;
}

#image {
	align-self: center;
	max-width: 1000px;
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	display: block;
	background-color: red;
}

#img-caption {
	margin: 10px 25%;
	text-align: center;
	font-size: 1.1em;
}

#main {
	margin: 20px auto;
	font-size: 1.35em;
	text-align: center;
	color: #222;
	width: 70%;
	max-width: 750px;
}
#main a {
	font-size: 1.05em;
}

footer {
  background-color: #333;
  color: white;
  padding: 24px 60px;
  margin-top: 64px;
  font-size: 16px;
}